body {
  min-height: 100vh;
  display: flex;
  background: #111;
}

div {
  --color: hsl(60,100%,50%);
  margin: auto;
  height: 30px;
  width: 30px;
  font-size: 3em;
  color: var(--color);
  background-color: var(--color);
  cursor: pointer;
  -webkit-animation: dispersion 1s infinite;
          animation: dispersion 1s infinite;
}

@-webkit-keyframes dispersion {
  to {
    box-shadow: 200px 0px,182.7090915285px 81.3473286152px,133.8261212718px 148.6289650955px,61.803398875px 190.211303259px,-20.9056926536px 198.9043790737px,-100px 173.2050807569px,-161.8033988749px 117.5570504585px,-195.6295201434px 41.5823381639px,-195.6295200843px -41.5823381545px,-161.8033980461px -117.5570503224px,-99.9999916331px -173.2050792293px,-20.9056249875px -198.9043654771px,61.803854529px -190.2112033226px,133.828751949px -148.6283396666px,182.7224129477px -81.3439157183px,200.0602448084px 0.0165481905px;
    color: transparent;
  }
}

@keyframes dispersion {
  to {
    box-shadow: 200px 0px,182.7090915285px 81.3473286152px,133.8261212718px 148.6289650955px,61.803398875px 190.211303259px,-20.9056926536px 198.9043790737px,-100px 173.2050807569px,-161.8033988749px 117.5570504585px,-195.6295201434px 41.5823381639px,-195.6295200843px -41.5823381545px,-161.8033980461px -117.5570503224px,-99.9999916331px -173.2050792293px,-20.9056249875px -198.9043654771px,61.803854529px -190.2112033226px,133.828751949px -148.6283396666px,182.7224129477px -81.3439157183px,200.0602448084px 0.0165481905px;
    color: transparent;
  }
}
